section{
	 width:40%;
	 float:left;
	 padding:5%
	
}
lable{
	width:130px;
	display:inline-block;
}

article{
	 width:40%;
	float:right;
	 padding:5%
	}

	
.th1{
	text-align:center;
	font-style:bold;
	font-size:50px;
}

h3{
	font-family:Sans-serif;
	color: #5d625e;
	font-size: 30px;
	font-weight: 800;
	
}